@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito:wght@400;700&family=Playfair+Display:wght@700&family=Raleway:wght@500&family=Roboto:wght@500&display=swap');

:root{
    --color1 : #D66161 ;
    --color2 : #000000;
    --color3 : #C7C2C2;
    --color4 : #828282;
    --color5 : #bbb6b6;

    --font1: 'Comfortaa', sans-serif;
    --font2: 'Nunito', sans-serif;
    --font3: 'Playfair Display', serif;
    --font4: 'Raleway-Medium', sans-serif;
    --font5: 'Roboto', sans-serif;
    
}

body, html{
    margin: 0;
    background-color: var(--color2);
    scrollbar-width: none;

}
::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header{
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 0px;
    top: 0px;
    
}
header .menu{
    display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 0px 80px 0px 0px;
gap: 100px;

position: absolute;
width: 785px;
height: 28px;
left: 1135px;
top: 26px;
}

header .menu a {
    color: var(--color1) ;
    font-family: var(--font4);
}
header .menu a:hover{
    color: white;
}
.grphc p{
    position: absolute;
height: 27px;
left: 6.35%;
right: 79.13%;
top: calc(50% - 27px/2 - 308.5px);

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
text-transform: uppercase;

color: #D66161;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    
    position: absolute;
    width: 564px;
    height: 258px;
    left: 122px;
    top: 324px;
}
.title .title1 h1{
    width: 644px;
height: 154px;

/* title/h1 */

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 120%;
/* or 77px */


color: #D66161;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.title .title2 h4{

    width: 644px;
    height: 72px;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    
    
    color: #C7C2C2;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    /* or 36px */
    
    
    color: #C7C2C2;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.credit{
    position: absolute;
    width: 201px;
    height: 32px;
    left: 1670px;
    top: 998px;
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
 
    color: #828282;

}
.credit a{
    color: #D66161;
}

.profil img{
    
position: absolute;
width: 802px;
height: 838.62px;
left: 1118px;
top: 80px;
}

.box1{
    box-sizing: border-box;

position: absolute;
width: 119.68px;
height: 119.68px;
left: 440px;
top: 725.36px;
}
.box2{
    position: absolute;
width: 145px;
height: 145px;
left: 810px;
top: 766.58px;
}
.nxt-btn{
/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 138px;
height: 69px;
left: 122px;
top: 956px;



}

.btn-nxt{
    cursor: pointer;
    box-sizing: border-box;

width: 138px;
height: 69px;

border: 2px solid #D66161;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.nxt-btn a{
    position: absolute;
width: 67px;
left: calc(50% - 67px/2 + 0.5px);
top: 14.49%;
bottom: 15.94%;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */


color: #D66161;
}









.title-about h1{
    position: absolute;
width: 588px;
height: 72px;
left: calc(50% - 588px/2 - 544px);
top: calc(50% - 72px/2 - 166px);

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 72px;
/* identical to box height, or 112% */


color: #D66161;

}

.about1 img{

    position: absolute;
    width: 15px;
    height: 15px;
    left: 123px;
    top: 490px;
    border-radius: 10px;
    
    background: #D66161;
}

.about-isi1{
    width: 486px;
height: 72px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */


color: #828282;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 486px;
height: 72px;
left: 203px;
top: 461px;

}
.about-isi1 span{
    color: var(--color3);
}
.about2 img{
    position: absolute;
width: 15px;
height: 15px;
left: 123px;
top: 574px;
border-radius: 10px;

background: #D66161;
}

.about-isi2{
    width: 588px;
height: 36px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */


color: #C7C2C2;


/* Inside auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

position: absolute;
width: 588px;
height: 36px;
left: 203px;
top: 563px;
}

.about-isi2  span {
    color: var(--color4)
}
.about-isi3{
    width: 588px;
height: 36px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */


color: #C7C2C2;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

position: absolute;
width: 588px;
height: 36px;
left: 203px;
top: 640px;
}
.about3 img{
    position: absolute;
width: 15px;
height: 15px;
left: 123px;
top: 651px;
border-radius: 10px;

background: #D66161;
}
.about-isi3 span {
    color: var(--color4);
}
.foto-profile-image{
position: absolute;
width: 566px;
height: 548px;
left: 1232px;
top: 222px;
}

.segitiga1-profile-image{
    position: absolute;
    width: 145px;
    height: 145px;
    left: 1282.29px;
    top: 592px;
}

.segitiga2-profile-image{
    position: absolute;
    width: 145px;
    height: 145px;
    left: 1604px;
    top: 686.58px;
    
}
.btn-resume{
    display: flex;
    cursor: pointer;
flex-direction: row;
align-items: flex-start;
padding: 8px 24px;

position: absolute;
width: 114px;
height: 43px;
left: 123px;
top: 934px;

background: #D66161;
border-radius: 8px;
}
.btn-resume p a{
    cursor: pointer;
    width: 66px;
height: 27px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */


color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.skills1 p{
    position: absolute;
width: 335px;
height: 31px;
left: 122px;
top: 351px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 28px;
/* or 70% */


color: #D66161;
}
.skills2 p{
    position: absolute;
width: 372px;
height: 31px;
left: 122px;
top: 534px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 28px;
/* or 70% */


color: #D66161;
}
.skills3 p{
    position: absolute;
width: 129px;
height: 31px;
left: 122px;
top: 716px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 28px;
/* or 70% */


color: #D66161;
}
.txt-skills h1{
    position: absolute;
width: 174px;
height: 80px;
left: calc(50% - 174px/2 - 557px);
top: calc(50% - 80px/2 - 326px);

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 72px;
/* or 112% */


color: #D66161;

}
.kotak-skills{
    display: flex;
    position: absolute;
    width: 1472px;
    height: 23px;
    left: 122px;
    top: 437px;
    
    background: #D66161;

}
.kotak-skills2{
    display: flex;
    position: absolute;
width: 664px;
height: 23px;
left: 122px;
top: 621px;

background: #D66161;
}
.kotak-skills3{
    position: absolute;
width: 1438px;
height: 23px;
left: 122px;
top: 802px;

background: #D66161;
}
.persen100 h4{
    position: absolute;
    width: 107px;
    height: 31px;
    left: 1487px;
    top: 353px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 28px;
    /* or 70% */
    
    
    color: #D66161;

}
.persen40 h4{
    position: absolute;
width: 85px;
height: 31px;
left: 1498px;
top: 537px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 28px;
/* or 70% */


color: #D66161;
}
.persen99 h4{
    position: absolute;
width: 85px;
height: 31px;
left: 1498px;
top: 719px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 28px;
/* or 70% */


color: #D66161;

}
.btn-view{
   
position: absolute;
width: 163px;
height: 48px;
left: 122px;
top: 911px;

background: #D66161;
border-radius: 8px;
}
.btn-view a{
    position: absolute;
width: 99px;
left: calc(50% - 99px/2);
top: 22.92%;
bottom: 20.83%;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */


color: #000000;
}
.btn-view2{
    position: absolute;
width: 163px;
height: 48px;
left: 0px;
top: 0px;

background: #D66161;
border-radius: 8px;
position: absolute;
width: 163px;
height: 48px;
left: 1635px;
top: 608px;
}
.btn-view3{
position: absolute;
width: 163px;
height: 48px;
left: 0px;
top: 0px;

background: #D66161;
border-radius: 8px;

width: 163px;
height: 48px;
left: 1635px;
top: 792px;

}
.btn-viw{
        position: absolute;
    width: 99px;
    left: calc(50% - 99px/2);
    top: 22.92%;
    bottom: 20.83%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    
    
    color: #000000;

}







.txt-portofolio h1{
    position: absolute;
width: 604px;
height: 72px;
left: calc(50% - 604px/2 - 537px);
top: calc(50% - 72px/2 - 345px);

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 72px;
/* identical to box height, or 112% */

text-align: center;

color: #D66161;


}
.figma1 img{
    position: absolute;
width: 818px;
height: 267px;
left: 122px;
top: 272px;
border-radius: 30px;
}

.figma1 p{
    position: absolute;
width: 348px;
height: 26px;
left: 131px;
top: 556px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* or 117% */


color: #D66161;
}

.figma2 img{
    position: absolute;
width: 702px;
height: 332px;
left: 1101px;
top: 582px;

background: url(image.png);
border-radius: 25px;
}
.figma2 p{
    
position: absolute;
width: 396px;
height: 26px;
left: 1425px;
top: 933px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* or 117% */


color: #D66161;
}
.figma3 img{
    position: absolute;
width: 957px;
height: 265px;
left: 131px;
top: 1069px;

background: url(image.png);
border-radius: 25px;
}
.figma3 p{
    position: absolute;
width: 211px;
height: 26px;
left: 142px;
top: 1358px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* or 117% */


color: #D66161;
}
.figma4 img{
    position: absolute;
    width: 658px;
    height: 411px;
    left: 1145px;
    top: 1494px;
    
    background: url(image.png);
    border-radius: 64px;
}
.figma4 p{
    position: absolute;
    width: 254px;
    height: 26px;
    left: 1567px;
    top: 1916px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */
    
    
    color: #D66161; 
}

.ps1 img{
    position: absolute;
width: 1072px;
height: 536px;
left: 323.06px;
top: 2241px;
border-radius: 66px;
}
.btn-nxt-prjct a {
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 24px;
    
    position: absolute;
    width: 148px;
    height: 43px;
    left: 124px;
    top: 936px;
    
    background: #D66161;
    border-radius: 8px;
}

.btn-nxt-prjct p{
    width: 100px;
height: 27px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */


color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.txt-portofolio-ps h1{
    position: absolute;
    width: 801px;
    height: 72px;
    left: calc(50% - 801px/2 - 437.5px);
    top: 2100px;
    
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    /* identical to box height, or 112% */
    
    
    color: #D66161;
}

.ps1 p{
    position: absolute;
width: 242px;
height: 26px;
left: 1173px;
top: 2790px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* or 117% */


color: #D66161;

}

.txt-portofolio-ai h1 {
/* Title */


position: absolute;
width: 801px;
height: 72px;
left: calc(50% - 801px/2 - 438.5px);
top : 3150px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 72px;
/* identical to box height, or 112% */


color: #D66161;
}

.ai img{
    position: absolute;
width: 1378px;
height: 494px;
left: 122px;
top: 3301px;
}

.ai p{
    
position: absolute;
width: 162px;
height: 32px;
left: 144px;
top: 3823px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* or 117% */


color: #D66161;

}

.btn-resume-bwh {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 24px;

position: absolute;
width: 114px;
height: 43px;
left: 122px;
top: 4088px;

background: #D66161;
border-radius: 8px;
}
.btn-resume-bwh a{
    width: 66px;
height: 27px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */


color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.credit-bwh{
    position: absolute;
left: 86.98%;
right: 2.55%;
top: 4158px;

font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 180%;
/* or 32px */


color: #828282;
}
.credit-bwh span{
    color: #D66161;
}
.txt-contact h1{
    position: absolute;
width: 588px;
height: 72px;
left: calc(50% - 588px/2 - 536px);
top: calc(50% - 72px/2 - 318px);

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 72px;
/* identical to box height, or 112% */


color: #D66161;

}
.logo{
    position: absolute;
width: 1150px;
height: 327px;
left: 122px;
top: 341px;
}

.btn-view-prjct{

}
